<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  	<display-name>HackerRank</display-name>
	<absolute-ordering />
  	<servlet>
		<servlet-name>Login-Servlet</servlet-name>
		<servlet-class>com.hackerrank.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login-Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Welcome-Servlet</servlet-name>
		<servlet-class>com.hackerrank.WelcomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Welcome-Servlet</servlet-name>
		<url-pattern>/WelcomePage</url-pattern>
	</servlet-mapping>
</web-app>